<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <a class="navbar-brand" href="/admins/index"> <%=image_tag("icono.png", :alt => "icono", :title => "Inicio", width: "60") %></a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><%#= link_to "Perfil", companies_index_path %></li>
      <li><%#= link_to "Contenedores", companies_containers_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">Conectado como <%= @ests["current_admin"]["email"] %></p></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menú<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><%#= link_to "Configuración", companies_configuration_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Log out", admins_log_out_path %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<% if flash[:establishment_accept] %>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="alert alert-info">
          <a class="close" data-dismiss="alert">&times;</a>
          <!--<strong>Aviso</strong>--> <%= flash[:establishment_accept] %>
      </div>
    </div>
    <div class="col-md-4"></div>
  </end>
<% end %>
<br>


<div class="container">
  <div class="row">
    <div class="col-md-12">

    <h1 align="center">Validación de Nuevas Instituciones</h1>
    </div>
  </div>
  <hr>

  <div class="row">

    <!--left col-->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Listados de Instituciones no validadas</div>
        

      <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Direccion</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

              <%@ests["ests"].each_with_index do |est,index|%>
              
                <tr>
                    <td><%= index+1 %></td>
                    <td><%= est["name"]%></td>
                    <td><%= est["email"]%></td>
                    <td><%= est["address"]%></td>
                    <td><%= link_to 'Aceptar', admins_accept_establishment_path(:est_id => est["id"]), :data => {:confirm => '¿Está seguro que desea aceptar esta institución?'}, :class => "btn btn-success btn-md", method: :post %></td>
                    <td></td>
                </tr>

              <%end%>
            </tbody>
        </table>
    </div>
  </div>




    </div>

    
  </div>
  <div class="col-sm-2 col-sm-offset-10"><%= link_to "Inicio", admins_index_path, class: "  btn btn-default btn-lg btn-block" %>
  </div>  

</div>