<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <a class="navbar-brand" href="/companies/index"> <%=image_tag("icono.png", :alt => "icono", :title => "Inicio", width: "60") %></a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Perfil", companies_index_path %></li>
      <li><%= link_to "Contenedores", companies_containers_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">Conectado como <%= @company["email"] %></p></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menú<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Configuración", companies_configuration_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Cerrar sesión", companies_log_out_path %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<% if flash[:modify_data_success] %>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="alert alert-success">
          <a class="close" data-dismiss="alert">&times;</a>
          <%= flash[:modify_data_success] %>
      </div>
    </div>
    <div class="col-md-4"></div>
  </end>
<% end %>
<% if flash[:modify_data_error] %>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="alert alert-danger">
          <a class="close" data-dismiss="alert">&times;</a>
          <%= flash[:modify_data_error] %>
      </div>
    </div>
    <div class="col-md-4"></div>
  </end>
<% end %>
<br><br><br>


<div class="container">
  <div class="row">

    <!-- main right col -->
    <div class="column col-sm-12" id="main">
      <div class="padding">
        <div class="full col-sm-10">

          <!-- content -->
          <div class="row">

            <!-- main col left -->
            <div class="col-sm-4 col-sm-offset-2">

              <div class="panel panel-default">
                <div class="panel-thumbnail"><img src="https://pbs.twimg.com/profile_images/617067874310557696/7ILaI9k7.jpg" class="img-responsive"></div>
                <div class="panel-body">
                  <p class="lead"><%= @company["name"] %></p>

                  <hr>

                  <p>Ubicación: <%= @company["address"] %></p>

                </div>
              </div>

              <!--<div class="panel panel-default">
                <div class="panel-heading"><h4>Bootstrap Examples</h4></div>
                <div class="panel-body">
                  <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                  </div>
                </div>
              </div>-->
            </div>

            <!-- main col right -->
            <div class="col-sm-6">



              <div class="panel panel-default">
                <div class="panel-heading"> <h4>Resumen de contenedores</h4></div>
                <div class="panel-body">


                    <ul class="list-group">
                      <li class="list-group-item text-muted">Resumen</i></li>
                      <li class="list-group-item text-right"><span class="pull-left"><strong>Total</strong></span> <%= @data["containers_empty"] + @data["containers_half"] + @data["containers_full"] %></li>
                      <li class="list-group-item text-right"><span class="pull-left"><strong>Llenos</strong></span> <%= @data["containers_full"] %></li>
                      <li class="list-group-item text-right"><span class="pull-left"><strong>Medios</strong></span> <%= @data["containers_half"] %></li>
                      <li class="list-group-item text-right"><span class="pull-left"><strong>Vacios</strong></span> <%= @data["containers_empty"] %></li>
                    </ul>

                      <%= link_to "Ver contenedores", companies_containers_path, class: " btn btn-success btn-lg btn-block" %>


                </div>
              </div>

            </div>

          </div>

          <hr>

          <!--<h4 class="text-center"><a href="http://bootply.com/96266" target="ext">Download this Template @Bootply</a></h4>-->

          <hr>

        </div>
      </div>
    </div>

  </div>
</div>
