<h1>Bienvenido!, <%= @company["name"] %></h1>

<h3>Datos</h3>
<table border="1" style="width:100%">
  <tr>
    <th>Compañia</th>
    <th>Dirección</th>
    <th>Correo</th>
    <th>último inicio de sesión</th>
  </tr>
  <tr>
    <td><%= @company["name"] %></td>
    <td><%= @company["address"] %></td>
    <td><%= @company["email"] %></td>
    <td><%= @company["updated_at"] %></td>
  </tr>
</table>
