<table style="width:100%">
  <tr>
    <td><%= link_to "Dashboard", companies_path %></td>
    <td><%= link_to "Contenedores", companies_containers_path %></td>
    <td><%=  %></td>
    <td><%=  %></td>
  </tr>
</table>

<h3>Establecimientos</h3>
<table border="1" style="width:100%">
  <tr>
    <th>Compañia</th>
    <th>Dirección</th>
    <th>Correo</th>
    <th>último inicio de sesión</th>
  </tr>
  <% @establishments.each do |est| %>
  <tr>
    <td><%= est["name"] %></td>
    <td><%= est["address"] %></td>
    <td><%= est["email"] %></td>
    <td><%= est["updated_at"] %></td>
  </tr>
  <% end %>
</table>
