<table style="width:100%">
  <tr>
    <td><%= link_to "Dashboard", companies_path %></td>
    <td><%= link_to "Contenedores", companies_containers_path %></td>
    <td><%=  %></td>
    <td><%=  %></td>
  </tr>
</table>

<h3>Tipos de desechos</h3>
<table border="1" style="width:100%">
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Solicitar</th>
  </tr>
  <% @waste_types.each do |wt| %>
  <tr>
    <td><%= wt["name"] %></td>
    <td><%= wt["description"] %></td>
    <td><%= link_to "Continuar", companies_request_container_choose_establishment_path(:waste_type_id => wt["id"]) %></td>
  </tr>
  <% end %>
</table>
