<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <a class="navbar-brand" href="#">Brand</a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Left</a></li>
        <li><a href="#about">Left</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#about">Right</a></li>
      <li><%= link_to "Log out", establishments_log_out_path %></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>Contenedores</h1>

  <hr>

  <div class="row">

    <!--left col-->
    <div class="col-sm-3">

      <ul class="list-group">
        <li class="list-group-item text-muted">Resumen</i></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Totales</strong></span> <%= @data["containers_empty"] + @data["containers_half"] + @data["containers_full"] %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Llenos</strong></span> <%= @data["containers_full"] %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Medios</strong></span> <%= @data["containers_half"] %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Vacios</strong></span> <%= @data["containers_empty"] %></li>
      </ul>

    </div>

    <div class="col-sm-9">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#home" data-toggle="tab">Activos</a></li>
        <li><a href="#messages" data-toggle="tab">Solicitudes</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Título</th>
                  <th>Dirección</th>
                  <th>Descripción</th>
                  <th>Última modificación</th>
                </tr>
              </thead>
              <tbody id="items">
                <% @data["containers"].each_with_index do |cont, index| %>
                <tr>
                  <td><%= index + 1 %> </td>
                  <td><%= cont["title"] %></td>
                  <td><%= cont["address"] %></td>
                  <td><%= cont["description"] %></td>
                  <td><%= cont["updated_at"] %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="tab-pane" id="messages">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Título</th>
                  <th>Dirección</th>
                  <th>Aceptar solicitud</th>
                </tr>
              </thead>
              <tbody id="items">
                <% @data["containers_request"].each_with_index do |cont, index| %>
                <tr>
                  <td><%= index + 1 %> </td>
                  <td><%= cont["title"] %></td>
                  <td><%= cont["address"] %></td>
                  <td><%= link_to "Aceptar", establishments_accept_container_request_path(:container_id => cont["id"]) %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
