<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <a class="navbar-brand" href="/establishments/index"><%=image_tag("icono.png", :alt => "icono", :title => "Inicio", width: "60") %></a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Perfil", establishments_index_path %></li>
      <li><%= link_to "Contenedores", establishments_containers_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">Conectado como <%= @data["current_establishment"]["email"] %></p></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menú<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Configurar datos", establishments_configuration_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Cerrar sesión", establishments_log_out_path %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 100%;
  }
</style>

<div class="col-xs-8 col-xs-offset-2">
  <div id="map-container">
    <div id="map"></div>
  </div>
</div>

<script>
  var map;
  function initMap() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: position.coords.latitude, lng: position.coords.longitude},
          zoom: 8
        })

        // para cada @data["containers"] crear un marcador con su titulo, longitud y latitud

        var containers = <%= raw @data["containers"].to_json %>

        for (i = 0; i < containers.length; i++) {
          var marker = new google.maps.Marker({
            position: {lat: containers[i].latitude, lng: containers[i].longitude},
            map: map,
            title: containers[i].title
          })
        }
      });
    }
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCcnfjpcjMkyHuFtLsfOAsS8jgIPkMzCw&callback=initMap" async defer></script>

<div class="container">
  <h1>Contenedores</h1>
  <div class="col-sm-2 col-sm-offset-10"><%= link_to "Inicio", establishments_index_path, class: "btn btn-default btn-lg btn-block" %></div> <br><br>

  <hr>

  <div class="row">

    <!--left col-->
    <div class="col-sm-3">

      <ul class="list-group">
        <li class="list-group-item text-muted">Resumen</i></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Totales</strong></span> <%= @data["containers_empty"] + @data["containers_half"] + @data["containers_full"] %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Llenos</strong></span> <%= @data["containers_full"] %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Medios</strong></span> <%= @data["containers_half"] %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Vacios</strong></span> <%= @data["containers_empty"] %></li>
      </ul>

    </div>

    <div class="col-sm-9">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#home" data-toggle="tab">Activos</a></li>
        <li><a href="#messages" data-toggle="tab">Solicitudes</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Título</th>
                  <th>Dirección</th>
                  <th>Última modificación</th>
                  <th>Modificar estado</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="items">
                <% @data["containers"].each_with_index do |cont, index| %>
                <tr>
                  <td><%= index + 1 %> </td>
                  <td><%= cont["title"] %></td>
                  <td><%= cont["address"] %></td>
                  <td><%= cont["updated_at"] %></td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <% case cont["status_id"] when 1 %> Vacío
                          <% when 2 %> Medio
                          <% when 3 %> Lleno
                        <% end %>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <% unless cont["status_id"] == 1 %>
                          <li><%= link_to "Vacío", establishments_update_state_container_path(:container_id => cont["id"], :status_id => 1) %></li>
                        <% end %>
                        <% unless cont["status_id"] == 2 %>
                          <li><%= link_to "Medio", establishments_update_state_container_path(:container_id => cont["id"], :status_id => 2) %></li>
                        <% end %>
                        <% unless cont["status_id"] == 3 %>
                          <li><%= link_to "Lleno", establishments_update_state_container_path(:container_id => cont["id"], :status_id => 3) %></li>
                        <% end %>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <%= link_to 'Eliminar', establishments_delete_container_path(:id_container => cont["id"]), :data => {:confirm => '¿Esta seguro que desea eliminar este contenedor?'}, :class => "btn btn-danger btn-sm", method: :post %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="tab-pane" id="messages">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Título</th>
                  <th>Dirección</th>
                  <th>Aceptar solicitud</th>
                </tr>
              </thead>
              <tbody id="items">
                <% @data["containers_request"].each_with_index do |cont, index| %>
                <tr>
                  <td><%= index + 1 %> </td>
                  <td><%= cont["title"] %></td>
                  <td><%= cont["address"] %></td>
                  <td><%= link_to "Aceptar", establishments_accept_container_request_path(:container_id => cont["id"]) %></td>

                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
